/* index.css */

body {
    background-color: #F6E3D4;
    margin: auto;
    text-align: center;
    max-width: 1080px;
}
article {
background-color: #3998EA;   
padding:5px;
margin:5px
} 
section {
    border: 1px solid rgb(209, 209, 7);
    background-color: #60A4B9;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 5px;
}

#toimintoKarttaTwitter {
    display: flex;
    justify-content: center;
    align-items: center;
}
#sectionstyle {

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}
header {
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: nowrap;
align-items: center;

}

img {
    
    max-width: 600px;
    object-fit: contain;
  
}
/* Mobiili laitteille alkaa */
@media only screen and (max-width: 600px) {
    #rantaArtikkeli{
        width:80vw;
    }
    nav {
        margin: 2px;
        /* display:flex; */
        flex-direction: column;
        align-content: center;
        /* justify-content: center; */
        flex-wrap: nowrap;
    }

#rannanTiedot {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
    p label{
        display: flex;
    }
    #palaute {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    } 

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        gap: 1rem;
    }

    video {
        display: flex;
        align-items: center;
        width: 80vw;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }
    footer {
        
    display: flex;
        
    flex-wrap: wrap;
        
    flex-direction: column;
    }

footer {}
    body {

        
        gap: 1rem;
    }

    #map {
        height: 100%;
        width: 100vw;
    }

    #rantakuva,#yhdistettykuva {
        width: 80vw;
        border: solid blue;
        margin: 10px;
        padding: 10px;
        
    }

    #kuvatTekstit {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #kuvatTekstit p {
        width: 80vw;
    }

    #toimintoKarttaTwitter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #map {
        height: 400px;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    #sectionstyle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #socialmap {
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
    }


    #leipateksti {
        width: 80vw;
    }

    #map {
        width: 80vw;
    }


    #twitterbot {
        width: 80vw;
    }
}
/* Mobiili laitteille loppuu */
@media only screen and (min-width: 600px) {
    video {
        width: 50vw;
    }
    #rantaArtikkeli {
        width: 50vw;
    }

   
    #palaute form {
        width:80vw;
        
        
    }
    #palaute {
        display: flex;
        justify-content: center;
    }   

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        gap: 1rem;
    }

    #rantakuva,#yhdistettykuva {
        width: 50vw;
        border: solid blue;
        margin: 10px;
        padding: 10px;
        min-width:400px;
    }

    #kuvatTekstit {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #twitterbot {
        width: 30vw;
    }

    #leipateksti {
        width: 30vw;
        padding: 5px;
        margin: 14px;
    }

#leipateksti {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

    #socialmap {
        display: flex;
        /* gap:1rem; */
        /* flex-direction: row-reverse; */
        /* margin: auto; */
    }

    #map {
        height: 100%;
        margin: 0;
    }

    #map {
        height: 400px;
        width: 60vw;
        max-width: 100%;
        margin: 10px;
        max-height: 100%;
    }
   

}

#sunrisesunset {
    display: flex;
    height: 10%;

}

#sunrisesunsetimg {
    width: 10%;
    height: 10%;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    
padding: 5px;
    
margin:5px;
    

}
@media only screen and (min-width:600px) and (max-width:1000px){
    #rantaArtikkeli {
        
        width:100%
    }
}
@media only screen and (max-width: 1000px) {
    nav p label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
    }
    #kuvatTekstit {
        display:flex;
        flex-direction: column;
    }
    #tulostusAlue {
        display:flex;
        flex-wrap: wrap;
        flex-direction:row;
    }
}



nav p label {
    padding: 8px;
    
    margin: 8px;
}



#nimipaivasankari {
    border: solid blue;
    background-blend-mode: darken;
    border-style: dotted;
}



footer a {
    color: rgba(255, 255, 255, 0.746);;
}

footer {
    /* display: inline; */
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.452);
    color: rgba(255, 255, 255, 0.746);
    text-align: center;
    padding: 6px;
    /* margin-left: 2vw; */
    margin: 5px;
    /* margin-right: 2vw; */
    /* align-items: center; */
    flex-direction: row;
    /* align-content: center; */
    /* justify-items: flex-start; */
}


footer div {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* flex-grow: 1; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* top: auto; */
}



footer p {
    margin: 2px 2px;

}



.myButton, #hakunappi {
    box-shadow: 3px 4px 0px 0px #1564ad;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:5px;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Epilogue', sans-serif;
    font-size:17px;
    font-weight:bold;
    padding:4px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    margin:5px
    
}
.myButton:hover, #hakunappi:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
}
.myButton:active, #hakunappi:active {
    position:relative;
    top:1px;
}
/* fontti perhe*/
body,header,.leaflet-popup-content,p{
    font-family:'Epilogue', sans-serif;
}

    