/* index.css */

body,header,h1,main, article, aside,nav,footer,p,a {
    
/* border: 1px solid black;*/
    
/* align-items: center; */
}



#toimintoKarttaTwitter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
aside {
    padding-right: 20px;
    display: flex;
    /* width: 30%; */
    /* padding-left: 15px; */
    /* margin-left: 15px; */
    /* float: right; */
    /* font-style: italic; */
    /* background-color: lightgray; */
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
  }




header {
    
display: flex;
    
flex-direction: row;
    
justify-content: center;
    
flex-wrap: nowrap;
    
align-items: center;
}

header {}

header h1 {
    /* align-self: flex-start; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
}
#saakuva {
    width:30%;
    height:30%;

}

@media only screen and (max-width: 600px) {
    video {
        width:100vw;
    }
    body {
        /* media query toimii testausvÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¤ri */
        background-color:silver;
    }
    #map {
        height: 100%;
        width: 100vw;
    }
    article img {
        border: solid blue;padding: 10px;margin: 10px;
    }
    #kuvatTekstit {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #map {
        height: 400px;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    #asidestyle{
        display:flex;
        flex-direction: column;
    }
    #socialmap {
        display:flex;
        flex-wrap: wrap-reverse;
        align-items: center;
    }
    #twitterbot{
        width: 100vw;
    }
}
@media only screen and (min-width: 600px) {
    video {
        width:50vw;
    }
    main {
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }
    article img {
        width: 30%;
        border: solid blue;
        margin: 10px;
        padding: 10px;
    }
    #kuvatTekstit {
        display: flex;justify-content: space-evenly;flex-direction: row;
    }
    #twitterbot{
        width: 20%;
    }
    #leipateksti {
        width: 30%;
    }
    #socialmap {
        display:flex;
        gap:1rem;
        /* flex-direction: row-reverse; */
        margin: auto;
    }
    #map {
        height: 100%;
        margin: 0;
    }
    #map {
        height: 400px;
        width: 80%;
        max-width: 100%;
        max-height: 100%;
    }
    
}
button {
    padding: 4px;
    background-color: red;
    color: white;
}
#sunrisesunset {
    display:flex;
    height: 10%;
    
}
#sunrisesunsetimg {
    width:10%;
    height: 10%;
    
}
nav{
    display:flex;
    justify-content: flex-end;
}

footer a {
    color: rgba(255, 255, 255, 0.746);;
}
footer {
    display:flex;
    justify-content:space-evenly;
    background-color: rgba(0, 0, 0, 0.452);
    color: rgba(255, 255, 255, 0.746);
    text-align: center;
    padding: 3px;


}
footer div {
    display:flex;
    flex-direction: column;
}

footer p {
    margin: 2px 2px;

}


.myButton {
	box-shadow: 3px 3px 13px 0px #899599;
	background:linear-gradient(to bottom, #fafafa 5%, #868a13 100%);
	background-color:#fafafa;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#0d1517;
	font-family:Verdana;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #868a13 5%, #fafafa 100%);
	background-color:#868a13;
}
.myButton:active {
	position:relative;
	top:1px;
}

