/* index.css */

body,header,h1,main, article, aside,nav,footer,p,a {
    
    border: 1px solid black;
}


@media only screen and (max-width: 600px) {
    body {
        background-color:silver;
    }
    #map {
        height: 100%;
        width: 100vw;
    }

}
@media only screen and (min-width: 600px) {
    main {
        display:flex;
        justify-content:space-between;
    }
    #socialmap {
        display:flex;
        flex-direction: row-reverse;
        /* margin: auto; */
    }
}
button {
    padding: 4px;
    background-color: red;
    color: white;
}



footer a {
    color: rgba(255, 255, 255, 0.746);;
}
footer {
    display:flex;
    justify-content:space-evenly;
    background-color: rgba(0, 0, 0, 0.452);
    color: rgba(255, 255, 255, 0.746);
    text-align: center;
    padding: 3px;


}


footer p {
    margin: 2px 2px;

}
#map {
    height: 100%;
    margin: 0;
}
#map {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}



