/* index.css */

body,header,h1,main, article, aside,nav,footer,p,a {
    
    border: 1px solid black;
}

#toimintoKarttaTwitter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#kuvatTekstit {display: flex;justify-content: space-evenly;flex-direction: row;}

article img {border: solid blue;width: 30%;height: 15%;padding: 10px;margin: 10px;}

header {
    
}


@media only screen and (max-width: 600px) {
    body {
        /* media query toimii testausvÃ¤ri */
        background-color:silver;
    }
    #map {
        height: 100%;
        width: 100vw;
    }
    #socialmap { 
        display:flex;
        
        flex-wrap: wrap-reverse;
        
    }
}
@media only screen and (min-width: 600px) {
    main {
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }
    #twitterbot{
        width:220px;
    }
    #socialmap {
        display:flex;
        gap:1rem;
        flex-direction: row-reverse;
        /* margin: auto; */
    }
}
button {
    padding: 4px;
    background-color: red;
    color: white;
}



footer a {
    color: rgba(255, 255, 255, 0.746);;
}
footer {
    display:flex;
    justify-content:space-evenly;
    background-color: rgba(0, 0, 0, 0.452);
    color: rgba(255, 255, 255, 0.746);
    text-align: center;
    padding: 3px;


}
footer div {
    display:flex;
    flex-direction: column;
}

footer p {
    margin: 2px 2px;

}
#map {
    height: 100%;
    margin: 0;
}
#map {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

.myButton {
	box-shadow: 3px 3px 13px 0px #899599;
	background:linear-gradient(to bottom, #fafafa 5%, #868a13 100%);
	background-color:#fafafa;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#0d1517;
	font-family:Verdana;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #868a13 5%, #fafafa 100%);
	background-color:#868a13;
}
.myButton:active {
	position:relative;
	top:1px;
}

