body{
text-align: center;
font-family: monospace;
background-color: #F6E3D4;
max-width: 800px;
margin:auto;
}

main {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
}

article {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    background-color: antiquewhite;
    background-blend-mode: darken;
    border: solid black;
}



img {
    border: solid white;
}

img {
    height: 300px;
    width: 300px;
}
@media only screen and (max-width: 900px) {
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}
img {
    
    height: auto;
    width:80vw;
}
article {
    align-items: center;
    /* align-content: center; */
}
}