body{
    text-align: center;
    font-family: monospace;
    background-color: #F6E3D4;
    max-width: 1000px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;}

main {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
}

article {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    background-color: antiquewhite;
    background-blend-mode: darken;
    border: solid black;
    flex-wrap: nowrap;
    align-items: center;
}
@media only screen and (min-width: 1075px) {
.videosivu {
    display:flex;  

}
}
img {
    border: solid white;
    height: 300px;
    width: auto;
    margin:5px;
    padding:1px;
}

@media only screen and (max-width: 1075px) {
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }
    img {
        height: auto;
        width:80vw;
    }
    article {
        align-items: center;
        /* align-content: center; */
    }
}