body{

text-align: center;

font-family: monospace;

background-color: cadetblue;
}

main {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
}

article {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    background-color: antiquewhite;
    background-blend-mode: darken;
    border: solid black;
}

h1 {
    background-color: aqua;
    width: 100%;
}

h2 {
    background-color: aqua;
    width: 100%;
}

a {
    background-color: aqua;
}

img {
    border: solid white;
}

img {
    height: 300px;
    width: 300px;
}
@media only screen and (max-width: 600px) {
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

article {
    align-items: center;
    /* align-content: center; */
}
}